@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root{

    --primary-color: #1985A1;
    --secondary-color:#4C5C68 ;
    --accent1-color: #46494C;
    --accent2-color:#C5C3C6 ;
    --heading-font:'Rock Salt', cousive ;
    --paragraph-font: 'Roboto', helvetica;
    /* 
    */
    --nav-background-color:#d6d3d7;
    --nav-link-color: #46494C; 
    --nav-hover-background-color: #1985A1;
    --nav-hover-link-color: #e6e6e6;
  
/* 
    --primary-color: #1985A1;
    --secondary-color: #4C5C68;
    --accent1-color: #46494C;
    --accent2-color: #C5C3C6;
    --accent-white: #e6e6e6; */
}

body{
    font-family:var(--paragraph-font);
    color: var(--accent1-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}

p{
    padding: 25px;
}

nav{
    display: flex;
    font-size: 1.2rem;
    background-color: var(--nav-background-color );
}

nav a{
    display: block;
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 20px 25px;
}

nav .actived{
    color: var(--primary-color);
}

nav a:hover{
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    transition: all 400ms;
}

/* nav a:link, nav a:visited{
    color: var(--primary-color); 
} */

.colors {
    color: var(--nav-hover-link-color);
}

th{
    padding: 1em;
}
.colors .color-1{
background-color: var(--nav-hover-link-color);
color: var(--accent1-color);
}

.colors .color-2{
background-color: var(--accent2-color);
color: var(--accent1-color);
}

.colors .color-3{
background-color: var(--accent1-color);
}

.colors .color-4{
background-color: var(--secondary-color);
}

.colors .color-5{
background-color: var(--primary-color);
}

.font-1{
    font-family: var(--paragraph-font);
}

.font-2{
    font-family: var(--heading-font);
}

.font-colored-1{
    font-family: var(--heading-font);
    padding: 1em;
    background: var(--nav-hover-link-color);
    color: var(--accent1-color);
}

.font-colored-2{
    font-family: var(--heading-font);
    padding: 1em;
    background: var(--nav-hover-link-color);
    color: var(--primary-color);
}


.font-colored-3{
    font-family: var(--heading-font);
    padding: 1em;
    background: var(--primary-color);
    color: var(--nav-hover-link-color);
}