@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

main {
  max-width: 840px;
  margin: 1rem;
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: darkblue;
  border-bottom: 1px solid #ccc;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  padding: 0;
}

aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

aside h2 {
  position: static;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

ul.box {
  list-style: none;
  padding: 0;
}

ul.box li {
  display: block;
  margin: 1rem 0;
}