*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    margin: 0;
}

nav{
    background-color: steelblue;
    display: flex;
    padding: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
}

h1{
    color: steelblue;
    border-bottom: 2px solid steelblue;
    margin-bottom: 0.8rem;
}
.grid{
    display: grid;
    align-items: center;
    max-width: 840px;
}
main{
    margin: 1rem;
    grid-column: 2/3;
}

main img{
    max-height: 10em;
    float: right;
    margin: 0 10px;
}

main p{
    height: 10em;
}
img{
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    max-width: 300px;
}

footer{
    margin-top: 1em;
    border-top: 1px solid black;
    text-align:center;
}

header, footer{
    max-width: 840px;
    margin: 0;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0,0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}

